@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "TT Commons Pro Variable";
    src: url("../assets/TT_Commons_Pro_Variable.woff2") format("woff2");
  }

  p {
    @apply dark:text-gray-200;
  }
}

@layer utilities {
  @media screen and (min-width: 1024px) {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@keyframes gentleBounce {
  0%,
  85%,
  100% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-6px);
  }
  95% {
    transform: translateY(-3px);
  }
}
.bounce-every-10s {
  animation: gentleBounce 10s ease-in-out infinite;
}
