version: "3"

services:
  backend:
    restart: unless-stopped
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
      PORT: 3030
      POSTGRESQL_HOST: postgres
      POSTGRESQL_USER: postgres
      POSTGRESQL_PASSWORD: password
      POSTGRESQL_DATABASE: mydb
      REDIS_USER: ""
      REDIS_PASSWORD: ""
      REDIS_HOST: redis
      JWT_SECRET: secret
      DATABASE_URL: "postgresql://postgres:password@postgres:5432/mydb?schema=unilectives"
    ports:
      - 3030:3030
    depends_on:
      - postgres
      - redis

  migration:
    restart: unless-stopped
    build:
      context: ./migration
      dockerfile: Dockerfile
    environment:
      AUTHDOMAIN: ${AUTHDOMAIN}
      PROJECT_ID: ${PROJECT_ID}
      STORAGE_BUCKET: ${STORAGE_BUCKET}
      NODE_ENV: production
      POSTGRESQL_HOST: postgres
      POSTGRESQL_USER: postgres
      POSTGRESQL_PASSWORD: password
      POSTGRESQL_DATABASE: mydb
    ports:
      - 8080:8080
    depends_on:
      - postgres

  postgres:
    image: postgres:15.15-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    restart: unless-stopped

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: unless-stopped
